In [0]:
# load trips into table
spark.sql("CREATE TABLE trips \
     USING DELTA LOCATION '/delta/bronze_trips'"
)

Out[3]: DataFrame[]

In [0]:
# verify
spark.sql("select * from trips limit 5").show()

+----------------+-------------+-------------------+-------------------+----------------+--------------+--------+
|         trip_id|rideable_type|         started_at|           ended_at|start_station_id|end_station_id|rider_id|
+----------------+-------------+-------------------+-------------------+----------------+--------------+--------+
|89E7AA6C29227EFF| classic_bike|2021-02-12 16:14:56|2021-02-12 16:21:43|             525|           660|   71934|
|0FEFDE2603568365| classic_bike|2021-02-14 17:52:38|2021-02-14 18:12:09|             525|         16806|   47854|
|E6159D746B2DBB91|electric_bike|2021-02-09 19:10:18|2021-02-09 19:19:10|    KA1503000012|  TA1305000029|   70870|
|B32D3199F1C2E75B| classic_bike|2021-02-02 17:49:41|2021-02-02 17:54:06|             637|  TA1305000034|   58974|
|83E463F23575F4BF|electric_bike|2021-02-23 15:07:23|2021-02-23 15:22:37|           13216|  TA1309000055|   39608|
+----------------+-------------+-------------------+-------------------+----------------+--------------+--------+

In [0]:
# load payments into table
spark.sql("CREATE TABLE if not exists payments \
     USING DELTA LOCATION '/delta/bronze_payments'"
)
# verify
spark.sql("select * from payments limit 5").show()

+----------+----------+------+-------+
|payment_id|      date|amount|trip_id|
+----------+----------+------+-------+
|         1|2019-05-01|   9.0|   1000|
|         2|2019-06-01|   9.0|   1000|
|         3|2019-07-01|   9.0|   1000|
|         4|2019-08-01|   9.0|   1000|
|         5|2019-09-01|   9.0|   1000|
+----------+----------+------+-------+

In [0]:
# load riders into table
spark.sql("CREATE TABLE if not exists riders \
     USING DELTA LOCATION '/delta/bronze_riders'"
)
# verify
spark.sql("select * from riders limit 5").show()

+--------+--------+---------+--------------------+----------+------------------+----------------+---------+
|rider_id|   first|     last|             address|  birthday|account_start_date|account_end_date|is_member|
+--------+--------+---------+--------------------+----------+------------------+----------------+---------+
|    1000|   Diana|    Clark| 1200 Alyssa Squares|1989-02-13|        2019-04-23|            null|     True|
|    1001|Jennifer|    Smith|     397 Diana Ferry|1976-08-10|        2019-11-01|      2020-09-01|     True|
|    1002|   Karen|    Smith|644 Brittany Row ...|1998-08-10|        2022-02-04|            null|     True|
|    1003|   Bryan|  Roberts|996 Dickerson Tur...|1999-03-29|        2019-08-26|            null|    False|
|    1004|   Jesse|Middleton|7009 Nathan Expre...|1969-04-11|        2019-09-14|            null|     True|
+--------+--------+---------+--------------------+----------+------------------+----------------+---------+

In [0]:
# load stations into table
spark.sql("CREATE TABLE if not exists stations \
     USING DELTA LOCATION '/delta/bronze_stations'"
)
# verify
spark.sql("select * from stations limit 5").show()

+------------+--------------------+-----------------+------------------+
|  station_id|                name|         latitude|         longitude|
+------------+--------------------+-----------------+------------------+
|         525|Glenwood Ave & To...|        42.012701|-87.66605799999999|
|KA1503000012|  Clark St & Lake St|41.88579466666667|-87.63110066666668|
|         637|Wood St & Chicago...|        41.895634|        -87.672069|
|       13216|  State St & 33rd St|       41.8347335|       -87.6258275|
|       18003|Fairbanks St & Su...|41.89580766666667|-87.62025316666669|
+------------+--------------------+-----------------+------------------+